$component: '.contact-form';

#{$component} .contact-form--inner {
  display: flex;
  flex-direction: column;
}

#{$component} .contact-form-submit {
  margin-top: 12px;
  text-align: center;
}

#{$component} .contact-form-send {
  position: relative;
}
