$component: '.detail-row';

#{$component} {
  padding: 65px 0;
}

#{$component} .detail-row-inner {
  @include flex-grid-row;
}

#{$component} .detail-meta {
  @include flex-grid-column(6);
  display: flex;
  flex-direction: column;
  .detail-meta-title, .detail-meta-description {
    text-align: right;
  }
  .detail-meta-title {
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0 0;
  }
  .detail-meta-description {
    margin: 0;
  }
}

#{$component} .detail-overview {
  @include flex-grid-column(6);
  position: relative;
  .detail-title {
    position: absolute;
    bottom: 100%;
    margin: 0;
  }
}

#{$component}.flipped {

  .detail-overview {
    order: 0;
    .detail-title, .detail-description {
      text-align: right;
    }
    .detail-title {
      right: 15px;
    }
  }

  .detail-meta {
    order: 1;
    .detail-meta-title, .detail-meta-description {
      text-align: left;
    }
  }

}
