$component: '.device';

$device-ends: 58px;
$corner-radius: 2vw;


#{$component} {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: $device-ends 0;
}

.device-wrap {
  position: relative;
  height: 450px;
  width: 290px;
  transition: width .5s ease-in-out, transform .2s ease-out .7s;
}

.device-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.device-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100%;
  height: $device-ends;
  width: 100%;
  background: gray;
  border-radius: $corner-radius $corner-radius 0 0;
  transform-origin: center bottom;
  transition: transform .2s ease-out .5s;
  .top-icon {
    background: lightgray;
    width: 25%;
    height: 8px;
    border-radius: 4px;
    transform-origin: center center;
    transition: transform .2s ease-out;
  }
}

.device-screen {
  width: 100%;
  height: 100%;
  background: lightgray;
  flex: 1;
  transition: border-radius .2s linear;
}

.device-bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  height: $device-ends;
  width: 100%;
  background: gray;
  transition: border-radius .2s linear;
  border-radius: 0 0 $corner-radius $corner-radius;
  .bottom-icon {
    background: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .4s ease-out;
  }
}

.device-toggle {
  margin-top: 100px;
  text-align: center;
  cursor: pointer;
}

#{$component}.desktop {
  .device-wrap {
    width: 800px;
    // transform: translateY(-$device-ends);
    .device-top {
      transform: scaleY(0);
      .top-icon {
        transform: scaleX(0);
      }
    }
    .device-screen {
      border-radius: $corner-radius / 2 $corner-radius / 2 0 0;
      transition: border-radius .2s linear .7s;
    }
    .device-bottom {
      border-radius: 0 0 $corner-radius / 2 $corner-radius / 2;
      .bottom-icon {
        border-radius: 0;
        width: 30%;
        height: 20px;
        transform: translateY(50px);
        background: gray;
      }
    }
  }
}
