$component: '.logo';

#{$component} {
  width: 100%;
  max-width: 235px;
  height: 100%;
  max-height: 235px;
}

#{$component}.still {
  .logo-outline {
    stroke-dashoffset: 0;
  }
  .logo-background {
    opacity: 1;
  }
}

#{$component} .logo-outline {
  stroke-dasharray: 825;
  stroke-dashoffset: 825;
  animation: draw 1.7s ease-in .6s forwards;
}

#{$component} .logo-background {
  opacity: 0;
  animation: fade .3s ease-in 2.3s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}
