$component: '.navigation';

#{$component} {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#{$component} #{$component}-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

#{$component} .page-title {
  margin: 0 0 3px 0;
}

#{$component}.flipped {
  padding-bottom: 0;
  padding-top: 20px;
  .arrow {
    order: 0;
    transform: rotateX(180deg);
  }
  .page-title {
    order: 1;
    margin: 3px 0 0 0;
  }
}
