$component: '.navigation';

#{$component} {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  z-index: 2;
}

#{$component} .nav-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 65px;
  height: 65px;
  transition: opacity .2s ease-in;
}

#{$component} .nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

#{$component} .nav-list-item {
  color: $blue;
  font-family: $anaheim;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &::after {
    display: inline-block;
    margin: 0 10px;
    content: '/';
  }
  &:last-child::after {
    display: none;
  }
}

#{$component} .nav-list-item a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#{$home-page} #{$component} .nav-logo {
  opacity: 0;
  pointer-events: none;
}
