$component: '.skill-card';

$marker-size: 20px;
$card-spacing: 100px;

#{$component} {
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
  margin-bottom: $card-spacing;
  &:first-child {
    margin-top: $card-spacing;
  }
}

#{$component} #{$component}-marker {
  width: $marker-size;
  height: $marker-size;
  margin-right: 15px;
  border-radius: 50%;
  background: $blue;
}

#{$component} #{$component}--inner {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#{$component} .skill-heading {
  display: flex;
  align-items: center;
}

#{$component} .skill-title-wrap {
  position: relative;
}

#{$component} .skill-title {
  line-height: 1;
  font-size: 28px;
  margin: 0;
}

#{$component} .skill-title-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $blue;
  transform-origin: left center;
  transition: transform .2s ease-out;
}

#{$component} .skill-description {
  margin-bottom: 12px;
}

#{$component} .divider {
  flex-grow: 1;
  height: 1px;
  margin-left: 25px;
  background: $blue;
  transform-origin: left center;
  transition: transform .2s ease-out;
}

#{$component}.flipped {
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 50px;
  .skill-title, .skill-description {
    text-align: right;
  }
  .divider {
    order: 1;
    margin-left: 0;
    margin-right: 25px;
  }
  .skill-title-wrap {
    order: 2;
  }
  #{$component}--inner {
    order: 1;
  }
  #{$component}-marker {
    order: 2;
    margin-right: 0;
    margin-left: 15px;
  }
}
