$component: '.skills';

#{$component} {
  @include flex-grid-row;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  overflow-y: hidden;
}

#{$component} #{$component}--inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#{$component} .skills-heading {
  display: flex;
  justify-content: center;
  .skills-title {
    color: $blue;
    font-size: $heading-font-size;
    margin: 0;
  }
}

#{$component} {

  .drop-fade-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all .4s ease-out;
  }

  .drop-fade-enter {
    opacity: 0;
    transform: translateY(-20px);
  }

}
