$component: '.slider';

#{$component} {

}

#{$component} #{$component}--inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#{$component} .image-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
  img {
    max-width: 100%;
    height: 200px;
    max-width: 225px;
  }
}

#{$component} .slider-control {
  width: 35px;
  height: 35px;
  cursor: pointer;
  .chevron-icon polygon {
    fill: $blue;
  }
  &.previous-button .chevron-icon {
    transform: rotateY(180deg);
  }
}

#{$component} {
  .sliderTransition-enter-active, .fade-leave-active {
    transition: opacity .3s linear, transform .3s ease-out;
  }
  .sliderTransition-enter, .fade-leave-to {
    position: absolute;
    opacity: 0;
    transform: translateY(25px);
  }
}
