$page: '.page.about-page';

#{$page} {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 124px;
}

#{$page} .about-title {
  // margin: 0;
}

#{$page} .about-bio {
  // margin: 5px 0;
}
