$page: '.page.me-page';

#{$page} {
  background-image: url('https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?dpr=2&auto=format&fit=crop&w=848&h=944&q=80&cs=tinysrgb&crop=&bg=');
  background-size: cover;
  background-repeat: no-repeat;
}
