$page: '.page.services-page';

#{$page} {
  display: flex;
  justify-content: center;
  align-items: center;
}

#{$page} .services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    margin: 24px 0;
  }
}
