$page: '.page.service-outline-page';

#{$page} {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue;
}

#{$page} .service-headline-wrap {
  max-width: 50%;
}

#{$page} .service-headline {
  color: #fff;
  letter-spacing: 3px;
  .bold {
    font-family: $overpass;
    color: #fff;
  }
}
