$right-transition-duration: .6s;

.layout {
  display: flex;
}

.page {
  height: 100%;
}

.left, .right {
  flex: 1;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 77px 0;
}

.right {
  position: relative;
  transition: transform 1s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #fff;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}


.slide-up-enter-active, .slide-down-enter-active {
  transition: transform $right-transition-duration cubic-bezier(0.23, 1, 0.32, 1);
}
.slide-up-enter {
  transform: translateY(100%);
}

.slide-up-leave-active, .slide-down-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity $right-transition-duration; // some trickery so vue's transition hooks grab
}

.slide-down-enter {
  transform: translateY(-100%);
}
