* {
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
}

a, p {
  color: $blue;
  font-family: $anaheim;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue;
  font-family: $overpass;
  font-weight: normal;
}

.page {
  padding-top: 150px;
}
