* {
  box-sizing: border-box;
}

body {
  font-size: $body-font-size;
  line-height: 1.5;
}

html, body, #app, .layout {
  width: 100%;
  height: 100%;
  margin: 0;
}

a, p, li, label, span, input, textarea {
  color: $blue;
  font-family: $anaheim;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue;
  font-family: $overpass;
  font-weight: normal;
}

h1 {
  font-size: 42px
}

h2 {
  font-size: 36px;
}

a {
  position: relative;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $blue;
    transform: translateY(5px);
    opacity: 0;
    transition: all .2s;
  }
  &:hover::after {
    transform: translateY(0);
    opacity: 1;
  }
}
